name: Release d-asa docs

on:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  validate-docs:
    name: Validate d-asa docs
    uses: ./.github/workflows/docs-ci.yaml
    secrets: inherit

  deploy-d-asa:
    name: Deploy d-asa
    uses: ./.github/workflows/d-asa-cd.yaml
    secrets: inherit

  deploy-docs:
    name: Deploy d-asa docs
    runs-on: "ubuntu-latest"
    needs: [ validate-docs, deploy-d-asa ]
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@v5

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v2
        with:
          mdbook-version: '0.4.43'

      - name: Build docs
        run: mdbook build

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./book

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
